/* line 17, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'league_gothiccondensed_italic';
  src: url("../fonts/leaguegothic-condenseditalic-webfont.eot");
  src: url("../fonts/leaguegothic-condenseditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic-condenseditalic-webfont.woff") format("woff"), url("../fonts/leaguegothic-condenseditalic-webfont.ttf") format("truetype"), url("../fonts/leaguegothic-condenseditalic-webfont.svg#league_gothiccondensed_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'league_gothicCnRg';
  src: url("../fonts/leaguegothic-condensedregular-webfont.eot");
  src: url("../fonts/leaguegothic-condensedregular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic-condensedregular-webfont.woff") format("woff"), url("../fonts/leaguegothic-condensedregular-webfont.ttf") format("truetype"), url("../fonts/leaguegothic-condensedregular-webfont.svg#league_gothicCnRg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'league_gothicitalic';
  src: url("../fonts/leaguegothic-italic-webfont.eot");
  src: url("../fonts/leaguegothic-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic-italic-webfont.woff") format("woff"), url("../fonts/leaguegothic-italic-webfont.ttf") format("truetype"), url("../fonts/leaguegothic-italic-webfont.svg#league_gothicitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'league_gothicregular';
  src: url("../fonts/leaguegothic-regular-webfont.eot");
  src: url("../fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic-regular-webfont.woff") format("woff"), url("../fonts/leaguegothic-regular-webfont.ttf") format("truetype"), url("../fonts/leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 74, icons/*.png */
.icons-sprite, .icons-blurb-icon1, .blurb-item-type1:before, .icons-blurb-icon2, .blurb-item-type2:before, .icons-blurb-icon3, .blurb-item-type3:before, .icons-next, .bx-wrapper .bx-next, .icons-prev, .bx-wrapper .bx-prev {
  background: url('../img/icons-sfc15e36ba0.png') no-repeat;
}

/* line 60, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-blurb-icon1, .blurb-item-type1:before {
  background-position: 0 -115px;
}

/* line 60, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-blurb-icon2, .blurb-item-type2:before {
  background-position: 0 -146px;
}

/* line 60, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-blurb-icon3, .blurb-item-type3:before {
  background-position: 0 -84px;
}

/* line 60, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-next, .bx-wrapper .bx-next {
  background-position: 0 0;
}

/* line 60, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-prev, .bx-wrapper .bx-prev {
  background-position: 0 -42px;
}

/** RESET AND LAYOUT
===================================*/
/* line 4, ../sass/_bxslider.scss */
.bx-wrapper {
  position: relative;
  padding: 0;
  *zoom: 1;
}

/* PAGER */
/* line 15, ../sass/_bxslider.scss */
.bx-wrapper .bx-pager {
  color: #666;
  padding-left: 73.9%;
  box-sizing: border-box;
  position: absolute;
  bottom: -90px;
  width: 100%;
}

/* line 25, ../sass/_bxslider.scss */
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

/* line 31, ../sass/_bxslider.scss */
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #000;
  background: rgba(0, 0, 0, 0.3);
  text-indent: -9999px;
  display: block;
  width: 15px;
  height: 15px;
  margin: 0 3px 0 4px;
  outline: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  position: relative;
}

/* line 46, ../sass/_bxslider.scss */
.bx-wrapper .bx-pager.bx-default-pager a:hover:before,
.bx-wrapper .bx-pager.bx-default-pager a.active:before {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  display: block;
  top: 3px;
  left: 3px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(10%, #ffffff), color-stop(100%, #d4d4d4));
  background-image: -webkit-linear-gradient(#ffffff 10%, #d4d4d4 100%);
  background-image: -moz-linear-gradient(#ffffff 10%, #d4d4d4 100%);
  background-image: -o-linear-gradient(#ffffff 10%, #d4d4d4 100%);
  background-image: linear-gradient(#ffffff 10%, #d4d4d4 100%);
  -webkit-box-shadow: 0.5px 1px 5px 0 black, inset 0 0 0 1px white;
  -moz-box-shadow: 0.5px 1px 5px 0 black, inset 0 0 0 1px white;
  box-shadow: 0.5px 1px 5px 0 black, inset 0 0 0 1px white;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
/* line 63, ../sass/_bxslider.scss */
.bx-wrapper .bx-prev {
  left: -25px;
  height: 42px;
  width: 30px;
  margin-top: -21px;
}

/* line 71, ../sass/_bxslider.scss */
.bx-wrapper .bx-next {
  right: -25px;
  height: 42px;
  width: 30px;
  margin-top: -21px;
}

/* line 85, ../sass/_bxslider.scss */
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  outline: 0;
  text-indent: -9999px;
  z-index: 9999;
}

/* line 93, ../sass/_bxslider.scss */
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

@media screen and (min-width: 0) {
  /* line 97, ../sass/_bxslider.scss */
  .bx-wrapper .bx-prev {
    left: -35%;
  }

  /* line 101, ../sass/_bxslider.scss */
  .bx-wrapper .bx-next {
    right: -35%;
  }
}
@media screen and (max-width: 1479px) {
  /* line 106, ../sass/_bxslider.scss */
  .bx-wrapper .bx-prev {
    left: -10%;
  }

  /* line 110, ../sass/_bxslider.scss */
  .bx-wrapper .bx-next {
    right: -10%;
  }
}
@media screen and (max-width: 1279px) {
  /* line 116, ../sass/_bxslider.scss */
  .bx-wrapper .bx-prev {
    left: -50px;
  }

  /* line 120, ../sass/_bxslider.scss */
  .bx-wrapper .bx-next {
    right: -50px;
  }
}
@media screen and (max-width: 959px) {
  /* line 126, ../sass/_bxslider.scss */
  .bx-wrapper .bx-prev {
    left: -20px;
  }

  /* line 130, ../sass/_bxslider.scss */
  .bx-wrapper .bx-next {
    right: -20px;
  }

  /* PAGER */
  /* line 135, ../sass/_bxslider.scss */
  .bx-wrapper .bx-pager {
    padding-left: 70.9%;
    bottom: -36px;
  }
}
@media screen and (max-width: 767px) {
  /* line 142, ../sass/_bxslider.scss */
  .bx-wrapper .bx-pager {
    padding-left: 8px;
    text-align: center;
    bottom: -14px;
  }
}
@media screen and (max-width: 479px) {
  /* line 150, ../sass/_bxslider.scss */
  .bx-wrapper .bx-pager {
    bottom: 25px;
  }
}
/* line 1, ../sass/_global.scss */
body {
  font-family: 'league_gothicregular';
  min-width: 320px;
}

/* line 5, ../sass/_global.scss */
a {
  text-decoration: none;
}

/* line 8, ../sass/_global.scss */
.wrapper {
  width: 100%;
  margin: auto;
  position: relative;
  max-width: 1000px;
  min-width: 320px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 960px) {
  /* line 18, ../sass/_global.scss */
  body {
    overflow-x: hidden;
  }
}
@media screen and (max-width: 959px) {
  /* line 23, ../sass/_global.scss */
  body {
    overflow-x: visible;
  }
}
/* line 1, ../sass/_header.scss */
.header-wrapper {
  background: url("../img/header-bg.jpg") no-repeat center top;
  height: 845px;
  padding-top: 1px;
}

/* line 7, ../sass/_header.scss */
.logo {
  display: inline-block;
  margin-top: 50px;
}

/* line 12, ../sass/_header.scss */
.main-menu {
  font-size: 24px;
  text-transform: uppercase;
  position: absolute;
  top: 74px;
  right: -5px;
}
/* line 18, ../sass/_header.scss */
.main-menu li {
  float: left;
  margin-left: 42px;
  text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.4);
}
/* line 22, ../sass/_header.scss */
.main-menu li:first-child {
  margin-left: 0;
}
/* line 27, ../sass/_header.scss */
.main-menu li.current-menu-item a, .main-menu li:hover a {
  border-bottom: 2px solid #edbfff;
}
/* line 32, ../sass/_header.scss */
.main-menu a {
  display: inline-block;
  color: #ffffff;
  padding: 0 5px 2px;
}

/*MAIN SLIDER*/
/* line 40, ../sass/_header.scss */
.main-slide-wrapper {
  text-align: left;
  height: 400px;
  background: rgba(0, 0, 0, 0.2);
  margin-top: 167px;
}
/* line 45, ../sass/_header.scss */
.main-slide-wrapper .bx-wrapper {
  top: -17px;
}

/* line 50, ../sass/_header.scss */
.main-slider-item {
  height: 434px;
}
/* line 52, ../sass/_header.scss */
.main-slider-item:before {
  content: '';
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-right: -3px;
}

/* line 62, ../sass/_header.scss */
.main-slider-item-img {
  position: relative;
  top: 0px;
  right: 0px;
  float: right;
  margin-right: 70px;
}
/* line 68, ../sass/_header.scss */
.main-slider-item-img img {
  max-width: 100%;
}
/* line 71, ../sass/_header.scss */
.main-slider-item-img .play {
  display: block;
  position: absolute;
  top: 148px;
  right: 60px;
  width: 76px;
  height: 76px;
}
/* line 78, ../sass/_header.scss */
.main-slider-item-img .play img {
  max-width: 100%;
}

/* line 84, ../sass/_header.scss */
.main-slide-item-text {
  width: 52.08333%;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
}
/* line 90, ../sass/_header.scss */
.main-slide-item-text h2 {
  font-size: 60px;
}
/* line 93, ../sass/_header.scss */
.main-slide-item-text h3 {
  font-size: 32px;
  color: #edbfff;
}
/* line 97, ../sass/_header.scss */
.main-slide-item-text p {
  font-size: 18px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin: 6px 0;
  line-height: 135%;
  max-height: 8em;
  overflow: hidden;
}

@media screen and (max-width: 959px) {
  /* line 109, ../sass/_header.scss */
  .header-wrapper {
    height: 797px;
  }

  /* line 112, ../sass/_header.scss */
  .main-menu {
    position: relative;
    top: 0;
    right: 0;
    margin-top: 31px;
    margin-left: -5px;
  }

  /*MAIN SLIDER*/
  /* line 121, ../sass/_header.scss */
  .main-slide-wrapper {
    margin-top: 131px;
  }

  /* line 124, ../sass/_header.scss */
  .main-slider-item-img {
    margin-right: 27px;
  }

  /* line 130, ../sass/_header.scss */
  .main-slide-item-text {
    overflow: hidden;
    width: 35.15625%;
    margin-left: 25px;
  }
  /* line 134, ../sass/_header.scss */
  .main-slide-item-text h2 {
    font-size: 48px;
    margin-bottom: 5px;
  }
  /* line 138, ../sass/_header.scss */
  .main-slide-item-text h3 {
    font-size: 24px;
    white-space: pre;
  }
  /* line 142, ../sass/_header.scss */
  .main-slide-item-text p {
    font-size: 16px;
    line-height: 160%;
    max-height: 8em;
    overflow: hidden;
    word-break: break-all;
  }
}
@media screen and (max-width: 767px) {
  /* line 153, ../sass/_header.scss */
  .logo {
    display: block;
  }

  /* line 156, ../sass/_header.scss */
  .header-wrapper {
    text-align: center;
    height: 547px;
  }

  /* line 160, ../sass/_header.scss */
  .main-menu {
    position: absolute;
    overflow: hidden;
    z-index: 10000;
    width: 244px;
    top: 79px;
    left: 0;
    margin: auto;
    padding: 4px 0 0;
  }
  /* line 169, ../sass/_header.scss */
  .main-menu li {
    padding: 10px 0 5px;
    display: none;
    width: 100%;
    margin-left: 0;
    text-shadow: none;
  }
  /* line 175, ../sass/_header.scss */
  .main-menu li.current-menu-item {
    display: block;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding-bottom: 4px;
  }
  /* line 180, ../sass/_header.scss */
  .main-menu li.current-menu-item:hover a {
    padding: 14px 0 6px;
    margin-top: -4px;
  }
  /* line 186, ../sass/_header.scss */
  .main-menu li:hover {
    padding: 0;
  }
  /* line 188, ../sass/_header.scss */
  .main-menu li:hover a {
    display: block;
    width: 100%;
    padding: 10px 0 5px;
    background: rgba(0, 0, 0, 0.3);
  }
  /* line 196, ../sass/_header.scss */
  .main-menu:hover {
    padding-top: 43px;
    top: 82px;
    border: 1px solid #051116;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), inset 1px 1px 0px 0px #6d507a;
    -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), inset 1px 1px 0px 0px #6d507a;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), inset 1px 1px 0px 0px #6d507a;
    background: rgba(54, 41, 62, 0.9);
  }
  /* line 203, ../sass/_header.scss */
  .main-menu:hover li {
    display: block;
    border-bottom: 1px solid rgba(53, 39, 61, 0.9);
    -webkit-box-shadow: inset 0 1px 0 0 rgba(105, 82, 114, 0.9);
    -moz-box-shadow: inset 0 1px 0 0 rgba(105, 82, 114, 0.9);
    box-shadow: inset 0 1px 0 0 rgba(105, 82, 114, 0.9);
  }
  /* line 207, ../sass/_header.scss */
  .main-menu:hover li:hover {
    text-shadow: 0 0px 10px rgba(255, 255, 255, 0.6);
  }
  /* line 210, ../sass/_header.scss */
  .main-menu:hover li.current-menu-item {
    position: absolute;
    left: 0px;
    top: 0;
  }

  /*MAIN SLIDER*/
  /* line 219, ../sass/_header.scss */
  .main-slide-wrapper {
    margin-top: 91px;
    height: 246px;
  }
  /* line 222, ../sass/_header.scss */
  .main-slide-wrapper .bx-wrapper {
    top: -9px;
  }

  /* line 226, ../sass/_header.scss */
  .main-slider-item {
    height: 280px;
    overflow: hidden;
  }

  /* line 230, ../sass/_header.scss */
  .main-slider-item-img {
    margin-right: 12px;
    width: 191px;
  }
  /* line 233, ../sass/_header.scss */
  .main-slider-item-img .play {
    top: 105px;
    right: 42px;
    width: 52px;
    height: 52px;
  }

  /* line 241, ../sass/_header.scss */
  .main-slide-item-text {
    width: 45.83333%;
  }
  /* line 243, ../sass/_header.scss */
  .main-slide-item-text h2 {
    font-size: 36px;
  }
  /* line 246, ../sass/_header.scss */
  .main-slide-item-text h3 {
    font-size: 18px;
    white-space: normal;
  }
  /* line 250, ../sass/_header.scss */
  .main-slide-item-text p {
    display: none;
  }
}
@media screen and (max-width: 479px) {
  /* line 258, ../sass/_header.scss */
  .header-wrapper {
    height: 516px;
  }

  /* line 261, ../sass/_header.scss */
  .main-slide-wrapper {
    background: transparent;
  }

  /* line 264, ../sass/_header.scss */
  .main-slider-item {
    text-align: center;
  }

  /* line 267, ../sass/_header.scss */
  .main-slider-item-img {
    display: none;
  }

  /* line 270, ../sass/_header.scss */
  .main-slide-item-text {
    width: auto;
    max-width: 87%;
    margin-left: 0;
    text-align: left;
  }
}
/* line 1, ../sass/_blurb.scss */
.blurb-wrapper {
  background: #745083;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #745083), color-stop(100%, #322539));
  background-image: -webkit-linear-gradient(#745083 0%, #322539 100%);
  background-image: -moz-linear-gradient(#745083 0%, #322539 100%);
  background-image: -o-linear-gradient(#745083 0%, #322539 100%);
  background-image: linear-gradient(#745083 0%, #322539 100%);
  border-top: 1px solid #33253a;
  border-bottom: 1px solid #0d151b;
  -webkit-box-shadow: inset 0 -1px 0 0 #1d2f37;
  -moz-box-shadow: inset 0 -1px 0 0 #1d2f37;
  box-shadow: inset 0 -1px 0 0 #1d2f37;
  position: relative;
}
/* line 8, ../sass/_blurb.scss */
.blurb-wrapper:after {
  content: '';
  width: 100%;
  height: 16px;
  background: url("../img/blurb-shadow.png") no-repeat center top;
  position: absolute;
  left: 0;
  bottom: -18px;
}

/* line 19, ../sass/_blurb.scss */
.blurb {
  text-align: justify;
  padding-top: 76px;
  padding-bottom: 52px;
}
/* line 23, ../sass/_blurb.scss */
.blurb:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 0;
}

/* line 31, ../sass/_blurb.scss */
.blurb-item {
  position: relative;
  text-align: left;
  padding-left: 63px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 29.9%;
  color: #ffffff;
  text-shadow: 1px 1px 0 #0f1518;
}
/* line 41, ../sass/_blurb.scss */
.blurb-item:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 7px;
  display: block;
}
/* line 48, ../sass/_blurb.scss */
.blurb-item h3 {
  font-size: 30px;
  text-transform: uppercase;
}
/* line 52, ../sass/_blurb.scss */
.blurb-item p {
  font-size: 16px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin-top: 8px;
  line-height: 150%;
  margin-bottom: 20px;
}
/* line 59, ../sass/_blurb.scss */
.blurb-item .more {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  float: right;
  margin-right: 7px;
}
/* line 65, ../sass/_blurb.scss */
.blurb-item .more:hover {
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}

/* line 71, ../sass/_blurb.scss */
.blurb-item-type1:before {
  height: 31px;
  width: 30px;
}

/* line 77, ../sass/_blurb.scss */
.blurb-item-type2:before {
  height: 29px;
  width: 33px;
}

/* line 83, ../sass/_blurb.scss */
.blurb-item-type3:before {
  height: 31px;
  width: 29px;
}

@media screen and (max-width: 959px) {
  /* line 90, ../sass/_blurb.scss */
  .blurb-item {
    width: 29.8%;
  }
  /* line 92, ../sass/_blurb.scss */
  .blurb-item h3 {
    font-size: 24px;
  }
  /* line 95, ../sass/_blurb.scss */
  .blurb-item p {
    overflow: hidden;
    max-height: 9em;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 767px) {
  /* line 104, ../sass/_blurb.scss */
  .blurb {
    padding-bottom: 31px;
  }

  /* line 107, ../sass/_blurb.scss */
  .blurb-item {
    width: 100%;
    margin-bottom: 26px;
  }
  /* line 110, ../sass/_blurb.scss */
  .blurb-item p {
    max-height: 75px;
  }
}
@media screen and (max-width: 479px) {
  /* line 117, ../sass/_blurb.scss */
  .blurb {
    padding-top: 70px;
    padding-bottom: 16px;
  }

  /* line 121, ../sass/_blurb.scss */
  .blurb-item {
    margin-bottom: 32px;
  }
  /* line 123, ../sass/_blurb.scss */
  .blurb-item p {
    max-height: 73px;
  }
}
/* line 1, ../sass/_content.scss */
.content-wrapper {
  background: #f9f9f9;
  padding-top: 99px;
}
/* line 4, ../sass/_content.scss */
.content-wrapper > .wrapper {
  overflow: hidden;
}

/*TESTIMONIAL*/
/* line 10, ../sass/_content.scss */
.testimonial {
  width: 46.875%;
  float: left;
  margin-bottom: 20px;
  /* PAGER */
}
/* line 14, ../sass/_content.scss */
.testimonial li {
  padding: 0 1px 28px;
}
/* line 19, ../sass/_content.scss */
.testimonial .bx-wrapper .bx-pager {
  color: #666;
  padding-left: 28px;
  text-align: center;
  position: absolute;
  bottom: -13px;
  width: 100%;
}
/* line 28, ../sass/_content.scss */
.testimonial .bx-wrapper .bx-pager.bx-default-pager a {
  background: #fff;
  text-indent: -9999px;
  display: block;
  width: 17px;
  height: 17px;
  margin: 0 2px;
  outline: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 0 white, inset 0px 0px 0px 1px #e6e6e6;
  -moz-box-shadow: 1px 1px 0 white, inset 0px 0px 0px 1px #e6e6e6;
  box-shadow: 1px 1px 0 white, inset 0px 0px 0px 1px #e6e6e6;
  position: relative;
}
/* line 43, ../sass/_content.scss */
.testimonial .bx-wrapper .bx-pager.bx-default-pager a:hover:before,
.testimonial .bx-wrapper .bx-pager.bx-default-pager a.active:before {
  content: '';
  position: absolute;
  width: 11px;
  height: 11px;
  display: block;
  top: 3px;
  left: 3px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  background: #6a6a6a;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(10%, #6a6a6a), color-stop(100%, #454545));
  background-image: -webkit-linear-gradient(#6a6a6a 10%, #454545 100%);
  background-image: -moz-linear-gradient(#6a6a6a 10%, #454545 100%);
  background-image: -o-linear-gradient(#6a6a6a 10%, #454545 100%);
  background-image: linear-gradient(#6a6a6a 10%, #454545 100%);
  -webkit-box-shadow: inset 0px 1px 2px 0px rgba(255, 255, 255, 0.5), 0 0 0 1px #454545;
  -moz-box-shadow: inset 0px 1px 2px 0px rgba(255, 255, 255, 0.5), 0 0 0 1px #454545;
  box-shadow: inset 0px 1px 2px 0px rgba(255, 255, 255, 0.5), 0 0 0 1px #454545;
}

/* line 59, ../sass/_content.scss */
.testimonial-item {
  position: relative;
  height: 273px;
  padding: 30px 38px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 23px;
  background: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  color: #454545;
}
/* line 68, ../sass/_content.scss */
.testimonial-item:after {
  content: '';
  display: block;
  width: 0px;
  height: 0px;
  border-top: 20px solid #fff;
  border-left: 20px solid transparent;
  position: absolute;
  right: 37px;
  bottom: -18px;
  z-index: 2;
}
/* line 80, ../sass/_content.scss */
.testimonial-item:before {
  content: '';
  display: block;
  width: 0px;
  height: 0px;
  border-top: 20px solid rgba(0, 0, 0, 0.05);
  border-left: 20px solid transparent;
  position: absolute;
  right: 36px;
  bottom: -21px;
  z-index: 1;
}
/* line 92, ../sass/_content.scss */
.testimonial-item .testimonial-img {
  position: absolute;
  width: 49px;
  height: 49px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  top: 19px;
  left: -24px;
}
/* line 99, ../sass/_content.scss */
.testimonial-item .testimonial-img:before {
  content: '';
  width: 49px;
  height: 49px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: 1px 1px 0 white, inset 1px 1px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 0 white, inset 1px 1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 0 white, inset 1px 1px 5px rgba(0, 0, 0, 0.3);
}
/* line 111, ../sass/_content.scss */
.testimonial-item h3 {
  text-transform: uppercase;
  font-size: 30px;
}
/* line 114, ../sass/_content.scss */
.testimonial-item h3 span {
  color: #edbfff;
}
/* line 118, ../sass/_content.scss */
.testimonial-item p {
  font-size: 16px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  line-height: 156%;
  margin: 9px 0;
  max-height: 168px;
  overflow: hidden;
}

/*POSTS*/
/* line 129, ../sass/_content.scss */
.blog {
  float: right;
  width: 46.93878%;
  text-shadow: 1px 1px 0 white;
  color: #454545;
  padding-top: 30px;
  margin-bottom: 24px;
}
/* line 136, ../sass/_content.scss */
.blog h3 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
/* line 141, ../sass/_content.scss */
.blog .more {
  display: none;
  color: #454545;
  font-size: 18px;
  float: right;
  margin-right: 17px;
  margin-top: 4px;
}
/* line 148, ../sass/_content.scss */
.blog .more:hover {
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}
/* line 152, ../sass/_content.scss */
.blog .more-desktop {
  display: inline-block;
}

/* line 157, ../sass/_content.scss */
.post {
  display: block;
  position: relative;
  padding-left: 67px;
  line-height: 150%;
  margin-bottom: 18px;
  font-size: 16px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #454545;
}
/* line 166, ../sass/_content.scss */
.post:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 169, ../sass/_content.scss */
.post img {
  width: 49px;
  height: 49px;
  display: block;
  position: absolute;
  left: 2px;
  top: 0px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
}
/* line 178, ../sass/_content.scss */
.post h4 {
  font-weight: 800;
  white-space: pre;
}
/* line 182, ../sass/_content.scss */
.post p {
  font-weight: 300;
  white-space: pre;
}

/*LOGOS*/
/* line 189, ../sass/_content.scss */
.logos-wrapper {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  -webkit-box-shadow: 0 0 0 1px #fefefe;
  -moz-box-shadow: 0 0 0 1px #fefefe;
  box-shadow: 0 0 0 1px #fefefe;
  clear: both;
  margin-top: 66px;
}

/* line 197, ../sass/_content.scss */
.logos {
  padding: 25px 87px 0px 29px;
}
/* line 199, ../sass/_content.scss */
.logos .logos-item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 66px;
  margin-bottom: 11px;
}
/* line 204, ../sass/_content.scss */
.logos .logos-item:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 208, ../sass/_content.scss */
.logos:after {
  content: '';
  width: 100%;
  height: 0;
  display: inline-block;
  vertical-align: middle;
}

@media screen and (max-width: 959px) {
  /* line 218, ../sass/_content.scss */
  .testimonial {
    width: 46.7033%;
  }

  /* line 222, ../sass/_content.scss */
  .testimonial-item h3 {
    font-size: 24px;
  }
  /* line 224, ../sass/_content.scss */
  .testimonial-item h3 span {
    display: block;
  }
  /* line 228, ../sass/_content.scss */
  .testimonial-item p {
    overflow: hidden;
    height: 9em;
  }
  /* line 233, ../sass/_content.scss */
  .testimonial-item:after, .testimonial-item:before {
    display: none;
  }

  /* line 237, ../sass/_content.scss */
  .blog {
    width: 44.78022%;
    margin-right: 8px;
  }
  /* line 240, ../sass/_content.scss */
  .blog .more {
    display: inline-block;
  }
  /* line 243, ../sass/_content.scss */
  .blog .more-desktop {
    display: none;
  }

  /* line 248, ../sass/_content.scss */
  .post {
    overflow: hidden;
  }
  /* line 250, ../sass/_content.scss */
  .post h4 {
    font-weight: 800;
  }
  /* line 253, ../sass/_content.scss */
  .post p {
    font-weight: 300;
    white-space: pre;
  }

  /* line 259, ../sass/_content.scss */
  .logos {
    padding: 25px 0px 11px 3px;
    margin-left: -55px;
    text-align: center;
  }
  /* line 263, ../sass/_content.scss */
  .logos .logos-item {
    margin-left: 55px;
  }
}
@media screen and (max-width: 767px) {
  /* line 270, ../sass/_content.scss */
  .content-wrapper {
    padding-top: 69px;
  }

  /* line 273, ../sass/_content.scss */
  .testimonial {
    width: 100%;
  }
  /* line 275, ../sass/_content.scss */
  .testimonial .bx-wrapper .bx-pager {
    padding-left: 16px;
  }

  /* line 281, ../sass/_content.scss */
  .testimonial-item h3 {
    font-size: 30px;
  }
  /* line 283, ../sass/_content.scss */
  .testimonial-item h3 span {
    display: inline;
  }
  /* line 287, ../sass/_content.scss */
  .testimonial-item p {
    height: auto;
  }

  /* line 292, ../sass/_content.scss */
  .blog {
    width: 100%;
    margin-right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 52px 0 62px;
  }
  /* line 297, ../sass/_content.scss */
  .blog .more {
    margin-right: -12px;
  }

  /* line 302, ../sass/_content.scss */
  .logos {
    margin-left: 0;
    padding: 37px 35px 0px 0px;
  }
  /* line 305, ../sass/_content.scss */
  .logos .logos-item {
    margin-left: 55px;
    margin-bottom: 23px;
  }
}
@media screen and (max-width: 479px) {
  /* line 313, ../sass/_content.scss */
  .testimonial-item {
    padding: 26px 35px;
  }
  /* line 315, ../sass/_content.scss */
  .testimonial-item h3 {
    font-size: 24px;
  }
  /* line 317, ../sass/_content.scss */
  .testimonial-item h3 span {
    display: block;
  }
  /* line 321, ../sass/_content.scss */
  .testimonial-item p {
    height: 170px;
    margin: 4px 3px;
  }

  /* line 327, ../sass/_content.scss */
  .blog {
    padding: 40px 0px 0 0px;
  }
  /* line 329, ../sass/_content.scss */
  .blog .more {
    margin-right: 5px;
  }

  /* line 334, ../sass/_content.scss */
  .post h4 {
    white-space: pre;
    max-width: 157px;
    overflow: hidden;
  }

  /* line 341, ../sass/_content.scss */
  .logos {
    margin-left: -53px;
    padding: 37px 0px 0px 0px;
  }
  /* line 344, ../sass/_content.scss */
  .logos .logos-item {
    margin-bottom: 56px;
  }
}
/* line 1, ../sass/_footer.scss */
.footer-wrapper {
  background: #ececec;
}

/*FOOTER POST*/
/* line 6, ../sass/_footer.scss */
.footer-post-wrapper {
  text-align: justify;
  padding-top: 97px;
  padding-bottom: 75px;
}
/* line 10, ../sass/_footer.scss */
.footer-post-wrapper:after {
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 0;
}

/* line 19, ../sass/_footer.scss */
.footer-post {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  width: 29.6875%;
  max-height: 13em;
  overflow: hidden;
  text-shadow: 1px 1px 0 white;
}
/* line 27, ../sass/_footer.scss */
.footer-post .footer-post-logo {
  margin-bottom: 19px;
}
/* line 30, ../sass/_footer.scss */
.footer-post h3 {
  font-size: 30px;
  color: #454545;
}
/* line 34, ../sass/_footer.scss */
.footer-post h4 {
  font-size: 16px;
  color: #c5c5c5;
  font-style: italic;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-style: italic;
  margin-bottom: 10px;
}
/* line 42, ../sass/_footer.scss */
.footer-post p {
  font-size: 16px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 150%;
  margin-top: 7px;
}

/*FOOTER*/
/* line 53, ../sass/_footer.scss */
.footer {
  background: url("../img/footer-bg.jpg") no-repeat center top;
  min-height: 115px;
  padding-top: 1px;
  overflow: hidden;
}

/* line 59, ../sass/_footer.scss */
.footer-menu {
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 45px;
}
/* line 63, ../sass/_footer.scss */
.footer-menu li {
  float: left;
  margin-left: 44px;
  text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.4);
}
/* line 67, ../sass/_footer.scss */
.footer-menu li:hover {
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.4);
}
/* line 70, ../sass/_footer.scss */
.footer-menu li:first-child {
  margin-left: 0;
}
/* line 74, ../sass/_footer.scss */
.footer-menu a {
  color: #ffffff;
}

/* line 80, ../sass/_footer.scss */
.design {
  color: #ffffff;
  font-size: 12px;
  text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.4);
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  position: absolute;
  right: 0;
  top: 8px;
}
/* line 89, ../sass/_footer.scss */
.design a {
  color: #ffffff;
  font-weight: 800;
}
/* line 92, ../sass/_footer.scss */
.design a:hover {
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 959px) {
  /* line 100, ../sass/_footer.scss */
  .footer-post-wrapper {
    padding-top: 102px;
    padding-bottom: 69px;
  }

  /* line 104, ../sass/_footer.scss */
  .footer-post {
    width: 27.54821%;
  }
  /* line 106, ../sass/_footer.scss */
  .footer-post h3 {
    font-size: 24px;
  }
  /* line 109, ../sass/_footer.scss */
  .footer-post p {
    margin-top: 12px;
  }
  /* line 112, ../sass/_footer.scss */
  .footer-post .footer-post-logo {
    margin-bottom: 16px;
  }

  /*FOOTER*/
  /* line 118, ../sass/_footer.scss */
  .footer {
    min-height: 200px;
  }

  /* line 121, ../sass/_footer.scss */
  .design {
    right: 21px;
    top: 57px;
  }
}
@media screen and (max-width: 767px) {
  /* line 128, ../sass/_footer.scss */
  .footer-post-wrapper {
    padding-top: 80px;
    padding-bottom: 16px;
  }

  /* line 132, ../sass/_footer.scss */
  .footer-post {
    width: 100%;
    margin-bottom: 54px;
    max-height: 131px;
  }

  /* line 138, ../sass/_footer.scss */
  .footer-menu {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 45px;
  }
  /* line 142, ../sass/_footer.scss */
  .footer-menu li {
    margin-left: 26px;
  }
  /* line 145, ../sass/_footer.scss */
  .footer-menu a {
    color: #ffffff;
  }

  /* line 149, ../sass/_footer.scss */
  .design {
    display: block;
    position: relative;
    text-align: center;
    right: 0;
    top: 37px;
  }
}
@media screen and (max-width: 479px) {
  /* line 159, ../sass/_footer.scss */
  .footer-post-wrapper {
    display: none;
  }

  /* line 162, ../sass/_footer.scss */
  .footer-menu {
    display: none;
  }

  /* line 165, ../sass/_footer.scss */
  .design {
    top: 42px;
  }
}
