.blurb-wrapper {
  background: #745083;
  @include background-image(linear-gradient(#745083 0%, #322539 100%));
  border-top: 1px solid #33253a;
  border-bottom: 1px solid #0d151b;
  @include box-shadow(inset 0 -1px 0 0 #1d2f37);
  position: relative;
  &:after {
    content: '';
    width: 100%;
    height: 16px;
    background: url("../img/blurb-shadow.png") no-repeat center top;
    position: absolute;
    left: 0;
    bottom: -18px;
  }
}

.blurb {
  text-align: justify;
  padding-top: 76px;
  padding-bottom: 52px;
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
  }
}

.blurb-item {
  position: relative;
  text-align: left;
  padding-left: 63px;
  @include box-sizing(border-box);
  display: inline-block;
  vertical-align: top;
  width: 29.9%;
  color: #ffffff;
  @include text-shadow(1px 1px 0 #0f1518);
  &:before {
    content: '';
    position: absolute;
    left: 10px;
    top: 7px;
    display: block;
  }
  h3 {
    font-size: 30px;
    text-transform: uppercase;
  }
  p {
    font-size: 16px;
    font-family: $sans;
    margin-top: 8px;
    line-height: 150%;
    margin-bottom: 20px;
  }
  .more {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    float: right;
    margin-right: 7px;
    &:hover {
      @include text-shadow(0px 0px 8px rgba(#fff, 0.8));
    }
  }
}

.blurb-item-type1:before {
  @extend .icons-blurb-icon1;
  height: icons-sprite-height(blurb-icon1);
  width: icons-sprite-width(blurb-icon1);
}

.blurb-item-type2:before {
  @extend .icons-blurb-icon2;
  height: icons-sprite-height(blurb-icon2);
  width: icons-sprite-width(blurb-icon2);
}

.blurb-item-type3:before {
  @extend .icons-blurb-icon3;
  height: icons-sprite-height(blurb-icon3);
  width: icons-sprite-width(blurb-icon3);
}

@include media($tablet-max) {
  .blurb-item {
    width: 29.8%;
    h3 {
      font-size: 24px;
    }
    p {
      overflow: hidden;
      max-height: 9em;
      margin-bottom: 10px;
    }
  }
}

@include media($phone-gor-max) {
  .blurb {
    padding-bottom: 31px;
  }
  .blurb-item {
    width: 100%;
    margin-bottom: 26px;
    p {
      max-height: 75px;
    }
  }
}

@include media($phone-max) {
  .blurb {
    padding-top: 70px;
    padding-bottom: 16px;
  }
  .blurb-item {
    margin-bottom: 32px;
    p {
      max-height: 73px;
    }
  }
}