/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
  position: relative;
  padding: 0;
  *zoom: 1;
}

.bx-wrapper img {
}

/* PAGER */

.bx-wrapper .bx-pager {
  color: #666;
  padding-left: 73.9%;
  box-sizing: border-box;
  position: absolute;
  bottom: -90px;
  width: 100%;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #000;
  background: rgba(#000, 0.3);
  text-indent: -9999px;
  display: block;
  width: 15px;
  height: 15px;
  margin: 0 3px 0 4px;
  outline: 0;
  @include border-radius(10px);
  position: relative;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  &:before {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    display: block;
    top: 3px;
    left: 3px;
    @include border-radius(6px);
    background: #fff;
    @include background-image(linear-gradient(#fff 10%, #d4d4d4 100%));
    @include box-shadow(0.5px 1px 5px 0 #000, inset 0 0 0 1px #fff);
  }
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
  left: -25px  ;
  @extend .icons-prev;
  height: icons-sprite-height(prev);
  width: icons-sprite-width(prev);
  margin-top: - icons-sprite-height(prev)/2;
}

.bx-wrapper .bx-next {
  right: -25px;
  @extend .icons-next;
  height: icons-sprite-height(next);
  width: icons-sprite-width(next);
  margin-top: - icons-sprite-height(next)/2;
}

.bx-wrapper .bx-prev:hover {
}

.bx-wrapper .bx-next:hover {
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  outline: 0;
  text-indent: -9999px;
  z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
@media screen and (min-width: 0) {
  .bx-wrapper .bx-prev {
    left: -35%;
  }

  .bx-wrapper .bx-next {
    right: -35%;
  }
}
@include media(1480px) {
  .bx-wrapper .bx-prev {
    left: -10%;
  }

  .bx-wrapper .bx-next {
    right: -10%;
  }
}

@include media(1280px) {
  .bx-wrapper .bx-prev {
    left: -50px;
  }

  .bx-wrapper .bx-next {
    right: -50px;
  }
}

@include media($tablet-max) {
  .bx-wrapper .bx-prev {
    left: -20px;
  }

  .bx-wrapper .bx-next {
    right: -20px;
  }
  /* PAGER */

  .bx-wrapper .bx-pager {
    padding-left: 70.9%;
    bottom: -36px;
  }
}

@include media($phone-gor-max){
  .bx-wrapper .bx-pager {
    padding-left: 8px;
    text-align: center;
    bottom: -14px;
  }
}

@include media($phone-max) {
  .bx-wrapper .bx-pager {
    bottom: 25px;
  }
}