.content-wrapper {
  background: #f9f9f9;
  padding-top: 99px;
  > .wrapper {
    overflow: hidden;
  }
}

/*TESTIMONIAL*/
.testimonial {
  width: 450/960*100%;
  float: left;
  margin-bottom: 20px;
  li {
    padding: 0 1px 28px;
  }
  /* PAGER */

  .bx-wrapper .bx-pager {
    color: #666;
    padding-left: 28px;
    text-align: center;
    position: absolute;
    bottom: -13px;
    width: 100%;
  }

  .bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff;
    text-indent: -9999px;
    display: block;
    width: 17px;
    height: 17px;
    margin: 0 2px;
    outline: 0;
    @include border-radius(10px);
    @include box-shadow(1px 1px 0 #fff, inset 0px 0px 0px 1px #e6e6e6);
    position: relative;
  }

  .bx-wrapper .bx-pager.bx-default-pager a:hover,
  .bx-wrapper .bx-pager.bx-default-pager a.active {
    &:before {
      content: '';
      position: absolute;
      width: 11px;
      height: 11px;
      display: block;
      top: 3px;
      left: 3px;
      @include border-radius(7px);
      background: #6a6a6a;
      @include background-image(linear-gradient(#6a6a6a 10%, #454545 100%));
      @include box-shadow(inset 0px 1px 2px 0px rgba(#fff, 0.5), 0 0 0 1px #454545);
    }
  }
}

.testimonial-item {
  position: relative;
  height: 273px;
  padding: 30px 38px;
  @include box-sizing(border-box);
  margin-left: 23px;
  background: #fff;
  @include box-shadow(0 1px 1px rgba(#000, 0.05));
  color: #454545;
  &:after {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border-top: 20px solid #fff;
    border-left: 20px solid transparent;
    position: absolute;
    right: 37px;
    bottom: -18px;
    z-index: 2;
  }
  &:before {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border-top: 20px solid rgba(#000, 0.05);
    border-left: 20px solid transparent;
    position: absolute;
    right: 36px;
    bottom: -21px;
    z-index: 1;
  }
  .testimonial-img {
    position: absolute;
    width: 49px;
    height: 49px;
    @include border-radius(25px);
    top: 19px;
    left: -24px;
    &:before {
      content: '';
      width: 49px;
      height: 49px;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      @include border-radius(25px);
      @include box-shadow(1px 1px 0 #fff, inset 1px 1px 5px rgba(#000, 0.3));
    }
  }
  h3 {
    text-transform: uppercase;
    font-size: 30px;
    span {
      color: #edbfff;
    }
  }
  p {
    font-size: 16px;
    font-family: $sans;
    line-height: 156%;
    margin: 9px 0;
    max-height: 168px;
    overflow: hidden;
  }
}

/*POSTS*/
.blog {
  float: right;
  width: 460/980*100%;
  @include text-shadow(1px 1px 0 #fff);
  color: #454545;
  padding-top: 30px;
  margin-bottom: 24px;
  h3 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  .more {
    display: none;
    color: #454545;
    font-size: 18px;
    float: right;
    margin-right: 17px;
    margin-top: 4px;
    &:hover {
      @include text-shadow(0px 0px 8px rgba(#000, 0.4));
    }
  }
  .more-desktop {
    display: inline-block;
  }
}

.post {
  display: block;
  position: relative;
  padding-left: 67px;
  line-height: 150%;
  margin-bottom: 18px;
  font-size: 16px;
  font-family: $sans;
  color: #454545;
  &:hover {
    @include opacity(0.8);
  }
  img {
    width: 49px;
    height: 49px;
    display: block;
    position: absolute;
    left: 2px;
    top: 0px;
    @include border-radius(25px);
  }
  h4 {
    font-weight: 800;
    white-space: pre;
  }
  p {
    font-weight: 300;
    white-space: pre;
  }
}

/*LOGOS*/
.logos-wrapper {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  @include box-shadow(0 0 0 1px #fefefe);
  clear: both;
  margin-top: 66px;
}

.logos {
  padding: 25px 87px 0px 29px;
  .logos-item {
    display: inline-block;
    vertical-align: middle;
    margin-left: 66px;
    margin-bottom: 11px;
    &:hover {
      @include opacity(0.8);
    }
  }
  &:after {
    content: '';
    width: 100%;
    height: 0;
    display: inline-block;
    vertical-align: middle;
  }
}

@include media($tablet-max) {
  .testimonial {
    width: 340/728*100%;
  }
  .testimonial-item {
    h3 {
      font-size: 24px;
      span {
        display: block;
      }
    }
    p {
      overflow: hidden;
      height: 9em;
    }
    &:after,
    &:before {
      display: none;
    }
  }
  .blog {
    width: 326/728*100%;
    margin-right: 8px;
    .more {
      display: inline-block;
    }
    .more-desktop {
      display: none;
    }
  }

  .post {
    overflow: hidden;
    h4 {
      font-weight: 800;
    }
    p {
      font-weight: 300;
      white-space: pre;
    }
  }

  .logos {
    padding: 25px 0px 11px 3px;
    margin-left: -55px;
    text-align: center;
    .logos-item {
      margin-left: 55px;
    }
  }
}

@include media($phone-gor-max) {
  .content-wrapper {
    padding-top: 69px;
  }
  .testimonial {
    width: 100%;
    .bx-wrapper .bx-pager {
      padding-left: 16px;
    }
  }

  .testimonial-item {
    h3 {
      font-size: 30px;
      span {
        display: inline;
      }
    }
    p {
      height: auto;
    }
  }

  .blog {
    width: 100%;
    margin-right: 0;
    @include box-sizing(border-box);
    padding: 40px 52px 0 62px;
    .more {
      margin-right: -12px;
    }
  }

  .logos {
    margin-left: 0;
    padding: 37px 35px 0px 0px;
    .logos-item {
      margin-left: 55px;
      margin-bottom: 23px;
    }
  }
}

@include media($phone-max) {
  .testimonial-item {
    padding: 26px 35px;
    h3 {
      font-size: 24px;
      span {
        display: block;
      }
    }
    p {
      height: 170px;
      margin: 4px 3px;
    }
  }

  .blog {
    padding: 40px 0px 0 0px;
    .more {
      margin-right: 5px;
    }
  }
  .post {
    h4 {
      white-space: pre;
      max-width: 157px;
      overflow: hidden;
    }
  }

  .logos {
    margin-left: -53px;
    padding: 37px 0px 0px 0px;
    .logos-item {
      margin-bottom: 56px;
    }
  }
}