.footer-wrapper {
  background: #ececec;
}

/*FOOTER POST*/
.footer-post-wrapper {
  text-align: justify;
  padding-top: 97px;
  padding-bottom: 75px;
  &:after {
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 0;
  }
}

.footer-post {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  width: 285/960*100%;
  max-height: 13em;
  overflow: hidden;
  @include text-shadow(1px 1px 0 #fff);
  .footer-post-logo{
    margin-bottom: 19px;
  }
  h3{
    font-size: 30px;
    color: #454545;
  }
  h4{
    font-size: 16px;
    color: #c5c5c5;
    font-style: italic;
    font-family: $sans;
    font-style: italic;
    margin-bottom: 10px;
  }
  p{
    font-size: 16px;
    font-family: $sans;
    font-weight: 300;
    line-height: 150%;
    margin-top: 7px;
  }
}


/*FOOTER*/
.footer{
  background: url("../img/footer-bg.jpg") no-repeat center top;
  min-height: 115px;
  padding-top: 1px;
  overflow: hidden;
}
.footer-menu{
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 45px;
  li{
    float: left;
    margin-left: 44px;
    @include text-shadow(1px 2px 0 rgba(#000,0.4));
    &:hover{
      @include text-shadow(0px 0px 8px rgba(#fff, 0.4));
    }
    &:first-child{
      margin-left: 0;
    }
  }
  a{
    color: #ffffff;
  }
}


.design{
  color: #ffffff;
  font-size: 12px;
  @include text-shadow(1px 2px 0 rgba(#000,0.4));
  font-family: $sans;
  font-weight: 300;
  position: absolute;
  right: 0;
  top: 8px;
  a{
    color: #ffffff;
    font-weight: 800;
    &:hover{
      @include text-shadow(0px 0px 8px rgba(#fff, 0.4));
    }
  }
}


@include media($tablet-max) {
  .footer-post-wrapper{
    padding-top: 102px;
    padding-bottom: 69px;
  }
  .footer-post{
    width: 200/726*100%;
    h3{
      font-size: 24px;
    }
    p{
      margin-top: 12px;
    }
    .footer-post-logo{
      margin-bottom: 16px;
    }
  }

  /*FOOTER*/
  .footer{
    min-height: 200px;
  }
  .design{
    right: 21px;
    top: 57px;
  }
}

@include media($phone-gor-max) {
  .footer-post-wrapper {
    padding-top: 80px;
    padding-bottom: 16px;
  }
  .footer-post{
    width: 100%;
    margin-bottom: 54px;
    max-height: 131px;
  }

  .footer-menu{
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 45px;
    li{
      margin-left: 26px;
    }
    a{
      color: #ffffff;
    }
  }
  .design{
    display: block;
    position: relative;
    text-align: center;
    right: 0;
    top: 37px;
  }
}

@include media($phone-max){
  .footer-post-wrapper {
    display: none;
  }
  .footer-menu{
    display: none;
  }
  .design{
    top: 42px;
  }
}