body{
  font-family: 'league_gothicregular';
  min-width: 320px;
}
a{
  text-decoration: none;
}
.wrapper{
  width: 100%;
  margin: auto;
  position: relative;
  max-width: 1000px;
  min-width: 320px;
  padding: 0 20px;
  @include box-sizing(border-box);
}
@media screen and (min-width:$tablet-max ){
  body{
    overflow-x: hidden;
  }
}
@include media($tablet-max){
  body{
    overflow-x: visible;
  }
}