.header-wrapper {
  background: url("../img/header-bg.jpg") no-repeat center top;
  height: 845px;
  padding-top: 1px;
}

.logo {
  display: inline-block;
  margin-top: 50px;
}

.main-menu {
  font-size: 24px;
  text-transform: uppercase;
  position: absolute;
  top: 74px;
  right: -5px;
  li {
    float: left;
    margin-left: 42px;
    @include text-shadow(1px 2px 0 rgba(#000, 0.4));
    &:first-child {
      margin-left: 0;
    }
    &.current-menu-item,
    &:hover {
      a{
        border-bottom: 2px solid #edbfff;
      }
    }
  }
  a {
    display: inline-block;
    color: #ffffff;
    padding: 0 5px 2px;
  }
}

/*MAIN SLIDER*/
.main-slide-wrapper {
  text-align: left;
  height: 400px;
  background: rgba(#000, 0.2);
  margin-top: 167px;
  .bx-wrapper {
    top: -17px;
  }
}

.main-slider-item {
  height: 434px;
  &:before {
    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: -3px;
  }
}

.main-slider-item-img {
  position: relative;
  top: 0px;
  right: 0px;
  float: right;
  margin-right: 70px;
  img{
    max-width: 100%;
  }
  .play {
    display: block;
    position: absolute;
    top: 148px;
    right: 60px;
    width: 76px;
    height: 76px;
    img {
      max-width: 100%;
    }
  }
}

.main-slide-item-text {
  width: 500/960*100%;
  @include text-shadow(0 2px 0 rgba(#000, 0.3));
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  h2 {
    font-size: 60px;
  }
  h3 {
    font-size: 32px;
    color: #edbfff;
  }
  p {
    font-size: 18px;
    font-family: $sans;
    font-weight: 300;
    margin: 6px 0;
    line-height: 135%;
    max-height: 8em;
    overflow: hidden;
  }
}

@include media($tablet-max) {
  .header-wrapper {
    height: 797px;
  }
  .main-menu {
    position: relative;
    top: 0;
    right: 0;
    margin-top: 31px;
    margin-left: -5px;
  }

  /*MAIN SLIDER*/
  .main-slide-wrapper {
    margin-top: 131px;
  }
  .main-slider-item-img {
    margin-right: 27px;
    .play {

    }
  }
  .main-slide-item-text {
    overflow: hidden;
    width: 270/768*100%;
    margin-left: 25px;
    h2 {
      font-size: 48px;
      margin-bottom: 5px;
    }
    h3 {
      font-size: 24px;
      white-space: pre;
    }
    p {
      font-size: 16px;
      line-height: 160%;
      max-height: 8em;
      overflow: hidden;
      word-break: break-all;
    }
  }
}

@include media($phone-gor-max) {
  .logo{
    display: block;
  }
  .header-wrapper {
    text-align: center;
    height: 547px;
  }
  .main-menu {
    position: absolute;
    overflow: hidden;
    z-index: 10000;
    width: 244px;
    top: 79px;
    left: 0;
    margin: auto;
    padding: 4px 0 0;
    li {
      padding: 10px 0 5px;
      display: none;
      width: 100%;
      margin-left: 0;
      @include text-shadow(none);
      &.current-menu-item {
        display: block;
        @include box-shadow(none);
        padding-bottom: 4px;
        &:hover{
          a{
            padding: 14px 0 6px;
            margin-top: -4px;
          }
        }
      }
      &:hover{
        padding: 0;
        a{
          display: block;
          width: 100%;
          padding: 10px 0 5px;
          background: rgba(#000,0.3);
        }
      }
    }
    &:hover{
      padding-top: 43px;
      top: 82px;
      border: 1px solid #051116;
      @include border-radius(10px);
      @include  box-shadow(0 3px 5px 0 rgba(#000,0.2),inset 1px 1px 0px 0px #6d507a);
      background: rgba(#36293e,0.9);
      li{
        display: block;
        border-bottom: 1px solid rgba(#35273d,0.9);
        @include box-shadow(inset 0 1px 0 0 rgba(#695272,0.9));
        &:hover{
          @include text-shadow(0 0px 10px rgba(#fff,0.6));
        }
        &.current-menu-item{
          position: absolute;
          left: 0px;
          top: 0;
        }
      }
    }
  }
  /*MAIN SLIDER*/
  .main-slide-wrapper {
    margin-top: 91px;
    height: 246px;
    .bx-wrapper {
      top: -9px;
    }
  }
  .main-slider-item {
    height: 280px;
    overflow: hidden;
  }
  .main-slider-item-img {
    margin-right: 12px;
    width: 191px;
    .play {
      top: 105px;
      right: 42px;
      width: 52px;
      height: 52px;
    }
  }

  .main-slide-item-text{
    width: 220/480*100%;
    h2{
      font-size: 36px;
    }
    h3{
      font-size: 18px;
      white-space: normal;
    }
    p{
      display: none;
    }
  }

}

@include media($phone-max){
  .header-wrapper{
    height: 516px;
  }
  .main-slide-wrapper {
    background: transparent;
  }
  .main-slider-item{
    text-align: center;
  }
  .main-slider-item-img{
    display: none;
  }
  .main-slide-item-text{
    width: auto;
    max-width: 87%;
    margin-left: 0;
    text-align: left;
  }
}